.modal-components {
    .title {
        font-weight: 900;
    }

    .content-img {
        width: 100%;
        height: auto;
    }
}

.section-taylor-sphere-components {
    

    .ts-component {
        text-align: center
    }
    
}