.section.section-registration {
    background-color: $secondary;
    position: relative;
    min-height: 100vh;

    .wave-1 {
        position: absolute;
        top: 10%;
        left: -5%;
    }

    .brush-black-white-1 {
        position: absolute;
        bottom: 5%;
        left: -8%;
    }

    .strokes-red-1 {
        position: absolute;
        bottom: 12%;
        left: 24%;
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .petal-group-1 {
        width: 8%;
        padding-bottom: 8%;
        position: absolute;
        bottom: 23%;
        left: 42%;
        transform: scale(1.5);
    }
}