.petal-group-1 {
    position: absolute;
    width: 38%;
    padding-bottom: 34%;
    height: 0;

    .petal {
        position: absolute;
    }

    .petal-red {
        bottom: 0;
        left: 0;
    }

    .petal-blue-1 {
        left: 24%;
        top: 2%;
    }

    .petal-blue-2 {
        right: 0;
        bottom: 9%;
    }

    .petal-yellow-1 {
        right: 0;
    }

    .petal-yellow-2 {
        bottom: 35%;
        left: 26%;
    }
}
